.header{
    font-weight: bold;
    background-color:black;
    color:white;
    padding: 15px;
    height: 100px;
    text-align: center;
}
.footer{
    font-weight: bold;
    background-color:black;
    color:white;
    padding:15px;
    height: 75px;
    text-align: center;
}
h2{
  font-size: 20px;
  color: #ffc0bc;
}
hr{
    border: 2px solid green;
}
.button{
    font-size: 20px;
    background-color:cyan;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    width: 200px;
    border-radius: 20px;
}